/* Add here all your CSS customizations */

.landingList {
    font-size: 1.2em;
    line-height: 1.7;
}

.totalLabel {
    font-size: 1.2em;
    font-weight: bold;
    display:inline-block;
    width:auto;
    margin-left:10px;
}

.cust_dropDownList {
    height: 35px;
}
.btnSubmit {
    text-align:right;
}

.btnSubmit input {
    width:120px;
    height:40px;
    font:bold 22px arial;
    text-align:center;
    margin-top:25px;
}

.field-validation-error {
    display:block;
    text-align:right;
    color:#f00;
}

.thanks_box {
    padding-top:50px;
    height:670px;
}

.thanks {
    color:#769F32;
    font-size:42px !important;
    text-align:center;
}

.coupon_label{
    margin-top:10px;
    margin-bottom:10px;
    font-size:18px;
    font-weight:bold;
}

.coupon_box{
    margin-bottom:10px;
    position:relative;
}

.awesome_box{
    position:absolute;
    top:0;
    right:0;
    width:35px;
    height:100%;
    font-size:22px;
    padding:3px 6px;
}

.coupon_field{
    height:35px;
    width:160px;
    padding-right:32px;
    font-size:26px;
    padding-bottom:3px;
    border:1px solid #8d8d8d;
    border-radius:3px;
}

.coupon_field:focus{
    border:2px solid #769f32;
}

.check_coupon_box{
    margin-top:41px;
}
.check_coupon_box input[type=button]{
    height:34px;
    width:95px;
    font-size:18px;
    padding-left:10px;
    padding-right:10px;
}
.awesome_success_box {
    margin-top:34px;
    font-size:40px;
    color:#769f32;
    display:none;
}

.awesome_un_success_box{
    margin-top:34px;
    font-size:40px;
    color:#ff0000;
    display:none;
}

.coupon_message{
    display:none;
    margin-top:-5px;
    margin-bottom:10px;
    font-size:14px;
    color:#ff0000;
    direction:rtl;
}

.p_hr_0{
    padding-left:0;
    padding-right:0;
}

.f_size_16{
    font-size:16px;
}
.m_top_10{
    margin-top:10px;
}