﻿@using ElAmiLandingPage.Models;
@model ElAmiLandingPage.Models.LandingModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var lesson_1_Items = new List<SelectListItem>
    {
        new SelectListItem { Text = "לא מעוניין בשיעור", Value = "לא מעוניין בשיעור" },
        new SelectListItem { Text = "הרבנית טובה בזק - כי עמך הסליחה", Value = "כי עמך הסליחה - 40 ש''ח"}
    };

    var lesson_2_Items = new List<SelectListItem>
    {
        new SelectListItem { Text = "לא מעוניין בשיעור", Value = "לא מעוניין בשיעור" },
        new SelectListItem { Text = "הרבנית ימימה מזרחי - שפכי כמים לבך", Value = "שפכי כמים לבך - 50 ש''ח"},
        new SelectListItem { Text = "יעל קול - משליטה להנהגה", Value = "משליטה להנהגה - 40 ש''ח"}
    };

    var lesson_3_Items = new List<SelectListItem>
    {
        new SelectListItem { Text = "לא מעוניין בשיעור", Value = "לא מעוניין בשיעור" },
        new SelectListItem { Text = "הרב אלישע ושילצקי - שכינה ביניהם בחבלי משיח", Value = "שכינה ביניהם' בחבלי משיח - 40 ש''ח"},
        new SelectListItem { Text = "הרבנית דבורה בנימין - עליית המלכות", Value = "עליית המלכות - 40 ש''ח" },
    };

    var lesson_4_Items = new List<SelectListItem>
    {
        new SelectListItem { Text = "לא מעוניין בשיעור", Value = "לא מעוניין בשיעור" },
        new SelectListItem { Text = "הרבנית אסתר לבנון - תרמילון לחיים טובים יותר", Value = "תרמילון לחיים טובים יותר - 40 ש''ח"},
        new SelectListItem { Text = "לאה ברזל - בישול בריא", Value = "בישול בריא - 40 ש''ח" },
        new SelectListItem { Text = "הרבנית דבורה בנימין - האמנתי כי אדבר", Value = "האמנתי כי אדבר - 40 ש''ח" }
    };

    var lesson_5_Items = new List<SelectListItem>
    {
        new SelectListItem { Text = "לא מעוניין בשיעור", Value = "לא מעוניין בשיעור" },
        new SelectListItem { Text = "אלרואי ודפנה אדרעי - קביים של אמונה", Value = "קביים של אמונה - 40 ש''ח"},
        new SelectListItem { Text = "עקיבא גנז ואוריאל הלפגוט - הורות בצל המסכים", Value = "הורות בצל המסכים - 40 ש''ח" },
    };

    var meal = new List<SelectListItem>
    {
        new SelectListItem { Text = "ארוחת צהריים (כריך חביתה + שתייה) - 25 ש''ח", Value = "ארוחת צהריים (כריך חביתה + שתייה) - 25 ש''ח" },
        new SelectListItem { Text = "ארוחת צהריים (כריך טונה + שתייה) - 25 ש''ח", Value = "ארוחת צהריים (כריך טונה + שתייה) - 25 ש''ח"},
        new SelectListItem { Text = "ארוחת צהריים (כריך חומוס + שתייה) - 25 ש''ח", Value = "ארוחת צהריים (כריך חומוס + שתייה) - 25 ש''ח" },
    };

    var rade = new List<SelectListItem>
    {
        new SelectListItem { Text = "1", Value = "1"},
        new SelectListItem { Text = "2", Value = "2"},
        new SelectListItem { Text = "3", Value = "3"},
        new SelectListItem { Text = "4", Value = "4"}
    };
}
@if (TempData["success"] == null)
{
    <div class="b-breadcrumbs f-breadcrumbs">
        <div class="container">
            <ul>
                <li><a href="http://www.elami-elatzmi.co.il/"><i class="fa fa-home"></i>דף הבית</a></li>
                <li><i class="fa fa-angle-left"></i><span>הרשמה ליום עיון לנשים אל עמי ומבשר שלום</span></li>
            </ul>
        </div>
    </div>

    <div class="l-inner-page-container">
        <div class="container">
            <div class="row">
                @{
                    Html.EnableClientValidation();
                }

                @using (Html.BeginForm("ContactSubmitForm", "Home", FormMethod.Post))
                {
                    <div class="col-md-9">
                        <div class="b-article-box">
                            <div class="f-article_title f-primary-l b-title-b-hr">
                                <h1>הרשמה ליום עיון לנשים אל עמי ומבשר שלום</h1>
                            </div>
                            <div class="b-article__description">
                                <img class="logos" src="~/img/elami/logoElAmi.jpg" alt="אל עמי" style="position: absolute; width:250px;" />
                                <img class="logos" src="~/img/elami/logo2.jpg" alt="מבשר שלום" style="position: absolute; top: 200px; width:150px;" />
                                <p><a style="text-decoration:underline; color:green" href="http://elami-elatzmi.co.il/media/1046/%D7%A4%D7%A8%D7%95%D7%A1%D7%A4%D7%A7%D7%98-%D7%A7%D7%99%D7%A5-%D7%9C%D7%90%D7%AA%D7%A8.pdf" target="_blank">לפרטים נוספים בנושאי הכנס ולפרוספקט המלא לחצי כאן</a></p>
                                <h2>פרטים אישיים</h2>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="b-form-horizontal__label">שם פרטי</label>
                                        @Html.TextBoxFor(model => Model.Name, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => Model.Name)
                                    </div>
                                    <div class="col-md-4">
                                        <label class="b-form-horizontal__label">שם משפחה</label>
                                        @Html.TextBoxFor(model => Model.LastName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => Model.LastName)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="b-form-horizontal__label">טלפון</label>
                                        @Html.TextBoxFor(model => Model.Phone, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => Model.Phone)
                                    </div>
                                    <div class="col-md-4">
                                        <label class="b-form-horizontal__label">נייד</label>
                                        @Html.TextBoxFor(model => Model.Mobile, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => Model.Mobile)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="b-form-horizontal__label">כתובת</label>
                                        @Html.TextBoxFor(model => Model.Adress, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => Model.Adress)
                                    </div>
                                    <div class="col-md-4">
                                        <label class="b-form-horizontal__label">עיר</label>
                                        @Html.TextBoxFor(model => Model.City, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => Model.City)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="b-form-horizontal__label">מיקוד</label>
                                        @Html.TextBoxFor(model => Model.Index, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class="b-form-horizontal__label">דוא"ל</label>
                                        @Html.TextBoxFor(model => Model.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => Model.Email)
                                    </div>
                                </div>
                                <h2 class="b-margin-top-standard">יום עיון</h2>
                                <p>יש לבחור שיעור אחד בכל פרק זמן</p>
                                <h4>9:30-11:05</h4>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="b-form-row b-form-select c-arrow-secondary">
                                            @Html.DropDownListFor(model => Model.Lesson_1, lesson_1_Items, "בחר שיעור מהרשימה", new { @id = "lesson_1", @class = "cust_dropDownList" })
                                        </div>
                                        @Html.ValidationMessageFor(model => Model.Lesson_1)
                                    </div>
                                </div>
                                <h4>11:30-12:30</h4>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="b-form-row b-form-select c-arrow-secondary">
                                            @Html.DropDownListFor(model => Model.Lesson_2, lesson_2_Items, "בחר שיעור מהרשימה", new { @id = "lesson_2", @class = "cust_dropDownList" })
                                        </div>
                                        @Html.ValidationMessageFor(model => Model.Lesson_2)
                                    </div>
                                </div>
                                <h4>13:15-14:30</h4>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="b-form-row b-form-select c-arrow-secondary">
                                            @Html.DropDownListFor(model => Model.Lesson_3, lesson_3_Items, "בחר שיעור מהרשימה", new { @id = "lesson_3", @class = "cust_dropDownList" })
                                        </div>
                                        @Html.ValidationMessageFor(model => Model.Lesson_3)
                                    </div>
                                </div>
                                <h4>14:50-16:10</h4>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="b-form-row b-form-select c-arrow-secondary">
                                            @Html.DropDownListFor(model => Model.Lesson_4, lesson_4_Items, "בחר שיעור מהרשימה", new { @id = "lesson_4", @class = "cust_dropDownList" })
                                        </div>
                                        @Html.ValidationMessageFor(model => Model.Lesson_4)
                                    </div>
                                </div>
                                <h4>16:30-18:00</h4>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="b-form-row b-form-select c-arrow-secondary">
                                            @Html.DropDownListFor(model => Model.Lesson_5, lesson_5_Items, "בחר שיעור מהרשימה", new { @id = "lesson_5", @class = "cust_dropDownList" })
                                        </div>
                                        @Html.ValidationMessageFor(model => Model.Lesson_5)
                                    </div>
                                </div>
                                <p>*שיעור בודד 40 ₪, שיעורה של הרבנית ימימה – 50 ₪</p>
                                <h2 class="b-margin-top-standard">ארוחה</h2>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="b-form-row b-form-select c-arrow-secondary">
                                            @Html.DropDownListFor(model => Model.Meal, meal, "ללא ארוחה", new { @id = "meal", @class = "cust_dropDownList" })
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="b-form-horizontal__label" style="float: right; width: auto; margin-right: 10px;">כמות</label>
                                        <div class="b-product-card__info_count">
                                            @Html.TextBoxFor(model => Model.MealCount, new { @id = "mealCount", @class = "form-control form-control--secondary", @placeholder = "0" })
                                        </div>
                                    </div>
                                </div>
                                <h2 class="b-margin-top-standard">הסעה</h2>
                                <p>*עלות הסעה - 35 ש"ח לנוסע</p>
                                <p>מסלולי הנסיעה:</p>
                                <ol class="landingList">
                                    <li>רמת הגולן: קצרין, קשת, יונתן, רמג"ש, חספין, נוב, אבני איתן, בני יהודה, צ. גני אלון, צ. גולני, צ. בית רימון</li>
                                    <li>קרית שמונה, חצור, צפת (דרום) צ. מירון, כרמיאל, צ. אחיהוד</li>
                                    <li>בית שאן, עפולה, מגדל העמק</li>
                                    <li>מעלות, נהריה, עכו, קריות</li>
                                </ol>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label style="text-align: right; display: block">מספר הסעה</label>
                                        <div class="b-form-row b-form-select c-arrow-secondary">
                                            @Html.DropDownListFor(model => Model.Rade, rade, "ללא הסעה", new { @id = "rade", @class = "cust_dropDownList" })
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="margin-top: 19px;">
                                        <label class="b-form-horizontal__label" style="float: right; width: auto; margin-right: 10px;">כמות</label>
                                        <div class="b-product-card__info_count">
                                            @Html.TextBoxFor(model=>Model.RadeCount,new {@id= "radeCount", @class= "form-control form-control--secondary",@placeholder="0" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 f-right">
                                        <div class="m_top_10">
                                            <label for="lesson" class="b-contact-form__window-form-row-label">
                                                <input type="checkbox" id="lesson" name="contribution" class="b-form-checkbox" />
                                                <span class="f_size_16">מעוניינת להקדיש שיעור בתרומה של 180 ₪ </span>
                                            </label>
                                            <label for="baby" class="b-contact-form__window-form-row-label">
                                                <input type="checkbox" id="baby" name="baby" class="b-form-checkbox" />
                                                <span class="f_size_16">מביאה עימי תינוק ושמרטפית</span>
                                            </label>
                                        </div>
                                        <div class="col-md-5 p_hr_0">
                                            @Html.Label("קוד קופון", new { @class = "coupon_label" })
                                            <div class="coupon_box">
                                                @Html.TextBoxFor(model => Model.Coupon, new { @class = "coupon_field" })
                                                <div class="awesome_box">
                                                    <i class="fa fa-list-ol"></i>
                                                </div>
                                            </div>
                                            <span class="coupon_message">קוד קופון שהוזן לא קיים!</span>
                                        </div>
                                        <div class="col-md-3 p_hr_0">
                                            <div class="check_coupon_box">
                                                <input id="check_coupon" type="button" value="בדוק קופון" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 p_hr_0">
                                            <div class="awesome_success_box">
                                                <i class="fa fa-check-circle-o"></i>
                                            </div>
                                            <div class="awesome_un_success_box">
                                                <i class="fa fa-times-circle-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6  b-margin-top-standard">
                                        <label style="font-size: 1.2em; font-weight: bold" class="b-form-horizontal__label">סה"כ לתשלום:</label>
                                        @Html.Label("0", new { @id = "total", @class = "totalLabel b-form-horizontal__label" })
                                        <label style="font-size: 1.2em; font-weight: bold" class="b-form-horizontal__label">ש"ח</label>
                                        @Html.Hidden("total", "0", new { @id = "totalHidden" })

                                    </div>
                                </div>
                                <div class="tpclear b-margin-bottom-standard"></div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <p>* ידוע לי כי בכל מקרה של ביטול אחוייב בהתאם לחוק.</p>
                                        <p>* ביטול עסקה בהתאם לתקנות הגנת הצרכן (ביטול עסקה), התשע"א-2010 וחוק הגנת הצרכן, התשמ"א-1981</p>
                                    </div>
                                </div>
                                <h2 class="b-margin-top-standard">אמצעי תשלום</h2>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="b-form-group b-form-group-inline">
                                            <label for="radio_invert_off">
                                                @Html.RadioButtonFor(model => Model.Payment, "כרטיס אשראי",
                                        new
                                        {
                                            @Name = "payment",
                                            @Checked = "checked",
                                            @id = "radio_invert_off",
                                            @class = "b-form-radio b-form-radio-invert"
                                        })
                                                <span>לתשלום בכרטיס אשראי</span>
                                            </label>

                                            <label for="radio_invert_on">
                                                @Html.RadioButtonFor(model => Model.Payment, "טלפון",
                                        new
                                        {
                                            @Name = "payment",
                                            @id = "radio_invert_on",
                                            @class = "b-form-radio b-form-radio-invert"
                                        })
                                                <span>לתשלום דרך הטלפון</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row btnSubmit">
                                    <input type="submit" value="שלח" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="col-md-3">
                    <div class="col-md-12">
                        <div class="b-categories-filter">
                            <h4 class="f-primary-b b-h4-special f-h4-special--gray f-h4-special">פרוייקטים אל עמי</h4>
                            <ul>
                                <li>
                                    <a class="f-categories-filter_name" href="http://www.elami-elatzmi.co.il/projects/%D7%A4%D7%A8%D7%95%D7%99%D7%A7%D7%98-%D7%90%D7%9C-%D7%A2%D7%A6%D7%9E%D7%99/">פרוייקט אל עצמי</a>
                                </li>
                                <li>
                                    <a class="f-categories-filter_name" href="http://www.elami-elatzmi.co.il/projects/%D7%93%D7%A4%D7%99-%D7%9C%D7%99%D7%9E%D7%95%D7%93/">פרוייקט דפי לימוד</a>
                                </li>
                                <li>
                                    <a class="f-categories-filter_name" href="http://www.elami-elatzmi.co.il/projects/%D7%94%D7%9E%D7%A8%D7%9B%D7%96-%D7%9C%D7%97%D7%99%D7%A0%D7%95%D7%9A-%D7%99%D7%94%D7%95%D7%93%D7%99/">המרכז לחינוך יהודי</a>
                                </li>
                                <li>
                                    <a class="f-categories-filter_name" href="http://www.elami-elatzmi.co.il/projects/%D7%A9%D7%99%D7%A2%D7%95%D7%A8%D7%99%D7%9D-%D7%95%D7%99%D7%9E%D7%99-%D7%A2%D7%99%D7%95%D7%9F/">שיעורים וימי עיון</a>
                                </li>
                                <li>
                                    <a class="f-categories-filter_name" href="http://www.elami-elatzmi.co.il/projects/%D7%A4%D7%A8%D7%95%D7%99%D7%99%D7%A7%D7%98-%D7%94%D7%A2%D7%A6%D7%9E%D7%94-%D7%9C%D7%A0%D7%95%D7%A2%D7%A8/">פרוייקט העצמה לנוער</a>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
}
