﻿@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="l-inner-page-container">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="b-article-box thanks_box">
                    <p class="thanks">
                        פנייתך התקבלה,
                    </p>
                    <p class="thanks">
                        נציגנו יצרו עמכם קשר בהקדם האפשרי
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12">
                    <div class="b-categories-filter">
                        <h4 class="f-primary-b b-h4-special f-h4-special--gray f-h4-special">פרוייקטים אל עמי</h4>
                        <ul>
                            <li>
                                <a class="f-categories-filter_name" href="http://www.elami-elatzmi.co.il/projects/%D7%A4%D7%A8%D7%95%D7%99%D7%A7%D7%98-%D7%90%D7%9C-%D7%A2%D7%A6%D7%9E%D7%99/">פרוייקט אל עצמי</a>
                            </li>
                            <li>
                                <a class="f-categories-filter_name" href="http://www.elami-elatzmi.co.il/projects/%D7%93%D7%A4%D7%99-%D7%9C%D7%99%D7%9E%D7%95%D7%93/">פרוייקט דפי לימוד</a>
                            </li>
                            <li>
                                <a class="f-categories-filter_name" href="http://www.elami-elatzmi.co.il/projects/%D7%94%D7%9E%D7%A8%D7%9B%D7%96-%D7%9C%D7%97%D7%99%D7%A0%D7%95%D7%9A-%D7%99%D7%94%D7%95%D7%93%D7%99/">המרכז לחינוך יהודי</a>
                            </li>
                            <li>
                                <a class="f-categories-filter_name" href="http://www.elami-elatzmi.co.il/projects/%D7%A9%D7%99%D7%A2%D7%95%D7%A8%D7%99%D7%9D-%D7%95%D7%99%D7%9E%D7%99-%D7%A2%D7%99%D7%95%D7%9F/">שיעורים וימי עיון</a>
                            </li>
                            <li>
                                <a class="f-categories-filter_name" href="http://www.elami-elatzmi.co.il/projects/%D7%A4%D7%A8%D7%95%D7%99%D7%99%D7%A7%D7%98-%D7%94%D7%A2%D7%A6%D7%9E%D7%94-%D7%9C%D7%A0%D7%95%D7%A2%D7%A8/">פרוייקט העצמה לנוער</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

