﻿@using ElAmiLandingPage.Models;
@model ElAmiLandingPage.Models.LandingModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="b-breadcrumbs f-breadcrumbs">
        <div class="container">
            <ul>
                <li><a href="http://www.elami-elatzmi.co.il/"><i class="fa fa-home"></i>דף הבית</a></li>
                <li><i class="fa fa-angle-left"></i><span>ביצוע תשלום</span></li>
            </ul>
        </div>
    </div>

    <div class="l-inner-page-container">
        <div class="container">
            <div class="row">
                    <div class="col-md-9">
                        <div class="b-article-box">
                            <div class="f-article_title f-primary-l b-title-b-hr">
                                <h1>הרשמה ליום עיון לנשים אל עמי ומבשר שלום</h1>
                            </div>
                            <div class="b-article__description">
                                <img class="logos" src="~/img/elami/logoElAmi.jpg" alt="אל עמי" style="position: absolute; width:250px;" />
                                <img class="logos" src="~/img/elami/logo2.jpg" alt="מבשר שלום" style="position: absolute; top: 200px; width:150px;" />
                                <iframe id="frame" name="frame" frameborder="0" scrolling="no" src="@ViewData["jsonTransactionResponse"]" style="height: 580px; width: 400px; float:right;"></iframe>
                            </div>
                        </div>
                    </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <div class="b-categories-filter">
                            <h4 class="f-primary-b b-h4-special f-h4-special--gray f-h4-special">פרוייקטים אל עמי</h4>
                            <ul>
                                <li>
                                    <a class="f-categories-filter_name" href="http://www.elami-elatzmi.co.il/projects/%D7%A4%D7%A8%D7%95%D7%99%D7%A7%D7%98-%D7%90%D7%9C-%D7%A2%D7%A6%D7%9E%D7%99/">פרוייקט אל עצמי</a>
                                </li>
                                <li>
                                    <a class="f-categories-filter_name" href="http://www.elami-elatzmi.co.il/projects/%D7%93%D7%A4%D7%99-%D7%9C%D7%99%D7%9E%D7%95%D7%93/">פרוייקט דפי לימוד</a>
                                </li>
                                <li>
                                    <a class="f-categories-filter_name" href="http://www.elami-elatzmi.co.il/projects/%D7%94%D7%9E%D7%A8%D7%9B%D7%96-%D7%9C%D7%97%D7%99%D7%A0%D7%95%D7%9A-%D7%99%D7%94%D7%95%D7%93%D7%99/">המרכז לחינוך יהודי</a>
                                </li>
                                <li>
                                    <a class="f-categories-filter_name" href="http://www.elami-elatzmi.co.il/projects/%D7%A9%D7%99%D7%A2%D7%95%D7%A8%D7%99%D7%9D-%D7%95%D7%99%D7%9E%D7%99-%D7%A2%D7%99%D7%95%D7%9F/">שיעורים וימי עיון</a>
                                </li>
                                <li>
                                    <a class="f-categories-filter_name" href="http://www.elami-elatzmi.co.il/projects/%D7%A4%D7%A8%D7%95%D7%99%D7%99%D7%A7%D7%98-%D7%94%D7%A2%D7%A6%D7%9E%D7%94-%D7%9C%D7%A0%D7%95%D7%A2%D7%A8/">פרוייקט העצמה לנוער</a>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
