﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>הרשמה ליום עיון לנשים אל עמי ומבשר שלום</title>
    @Html.Partial("Head")
</head>
<body>
    <div class="mask-l" style="background-color: #fff; width: 100%; height: 100%; position: fixed; top: 0; left:0; z-index: 9999999;"></div> <!--removed by integration-->
    <header class="b-header--bottom-menu">
        <div class="container b-header__box b-header--hide">
            <div class="b-left b-header-ico-group f-header-ico-group b-right">
                <a href="" title=""><span>En</span></a> |
                <a href="" title=""><span>עב</span></a>
                <i class="fa fa-globe lang"></i>
                <span class="b-header__search-box">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="הזן מונח לחיפוש" />
                </span>
                <span class="b-header__social-box">
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                </span>
            </div>
            <div class="tpclear"></div>
            <a href="http://www.elami-elatzmi.co.il/" class="b-right b-logo"><img class="color-theme" data-retina src="img/elami/logoElAmi.jpg" alt="Logo" /></a>
            <div class="topTopics b-left col-md-5 col-sm-12 mobileNone">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="b-infoblock-with-icon">
                            <a href="http://www.elami-elatzmi.co.il/%D7%A0%D7%95%D7%A9%D7%90%D7%99%D7%9D-%D7%A9%D7%95%D7%A0%D7%99%D7%9D/%D7%A7%D7%A9%D7%AA-%D7%94%D7%A4%D7%A8%D7%95%D7%99%D7%99%D7%A7%D7%98-%D7%A9%D7%9C-%D7%94%D7%A7%D7%99%D7%A5/" class="b-infoblock-with-icon__icon f-infoblock-with-icon__icon fade-in-animate visible">
                                <img src="img/elami/topic1.jpg" alt="" />
                            </a>
                            <div class="b-infoblock-with-icon__info f-infoblock-with-icon__info">
                                <a href="http://www.elami-elatzmi.co.il/%D7%A0%D7%95%D7%A9%D7%90%D7%99%D7%9D-%D7%A9%D7%95%D7%A0%D7%99%D7%9D/%D7%A7%D7%A9%D7%AA-%D7%94%D7%A4%D7%A8%D7%95%D7%99%D7%99%D7%A7%D7%98-%D7%A9%D7%9C-%D7%94%D7%A7%D7%99%D7%A5/" class="f-infoblock-with-icon__info_title b-infoblock-with-icon__info_title f-primary-sb">פרוייקט קשת</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="b-infoblock-with-icon">
                            <a href="http://www.elami-elatzmi.co.il/%D7%A0%D7%95%D7%A9%D7%90%D7%99%D7%9D-%D7%A9%D7%95%D7%A0%D7%99%D7%9D/%D7%9B%D7%A0%D7%A1-%D7%94%D7%A7%D7%99%D7%A5-%D7%9C%D7%A0%D7%A9%D7%99%D7%9D/" class="b-infoblock-with-icon__icon f-infoblock-with-icon__icon fade-in-animate visible">
                                <img src="img/elami/topic2.jpg" alt="" />
                            </a>
                            <div class="b-infoblock-with-icon__info f-infoblock-with-icon__info">
                                <a href="http://www.elami-elatzmi.co.il/%D7%A0%D7%95%D7%A9%D7%90%D7%99%D7%9D-%D7%A9%D7%95%D7%A0%D7%99%D7%9D/%D7%9B%D7%A0%D7%A1-%D7%94%D7%A7%D7%99%D7%A5-%D7%9C%D7%A0%D7%A9%D7%99%D7%9D/" class="f-infoblock-with-icon__info_title b-infoblock-with-icon__info_title f-primary-sb">כנס הקיץ לנשים</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="b-infoblock-with-icon">
                            <a href="http://www.elami-elatzmi.co.il/%D7%A0%D7%95%D7%A9%D7%90%D7%99%D7%9D-%D7%A9%D7%95%D7%A0%D7%99%D7%9D/%D7%97%D7%99%D7%93%D7%95%D7%A0%D7%99-%D7%94%D7%9E%D7%A9%D7%A0%D7%99%D7%95%D7%AA/" class="b-infoblock-with-icon__icon f-infoblock-with-icon__icon fade-in-animate visible">
                                <img src="img/elami/topic3.jpg" alt="" />
                            </a>
                            <div class="b-infoblock-with-icon__info f-infoblock-with-icon__info">
                                <a href="http://www.elami-elatzmi.co.il/%D7%A0%D7%95%D7%A9%D7%90%D7%99%D7%9D-%D7%A9%D7%95%D7%A0%D7%99%D7%9D/%D7%97%D7%99%D7%93%D7%95%D7%A0%D7%99-%D7%94%D7%9E%D7%A9%D7%A0%D7%99%D7%95%D7%AA/" class="f-infoblock-with-icon__info_title b-infoblock-with-icon__info_title f-primary-sb">חידוני המשניות</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-top-nav-show-slide f-top-nav-show-slide j-top-nav-show-slide b-right"><i class="fa fa-align-justify"></i></div>
        </div>
    </header>

    <div class="b-header-r">
        <div class="container">
            <nav class="b-top-nav b-top-nav--bottom f-top-nav j-top-nav">
                <ul class="b-top-nav__1level_wrap">
                    <li class="b-top-nav__1level f-top-nav__1level is-active-top-nav__1level f-primary-b">
                        <a href="#"><i class="fa fa-home b-menu-1level-ico"></i>דף הבית <span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>
                    </li>
                    <li class="b-top-nav__1level f-top-nav__1level f-primary-b">
                        <a href="http://www.elami-elatzmi.co.il/%D7%90%D7%95%D7%93%D7%95%D7%AA/"><i class="fa fa-folder-open b-menu-1level-ico"></i>אודות<span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>
                    </li>
                    <li class="b-top-nav__1level f-top-nav__1level f-primary-b">
                        <a href="#"><i class="fa fa-picture-o b-menu-1level-ico"></i>פרוייקטים <span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>
                        <div class="b-top-nav__dropdomn">
                            <ul class="b-top-nav__2level_wrap">
                                <li data-box-id="1" class="b-top-nav__2level f-top-nav__2level f-primary b-top-nav__with-multi-lvl">
                                    <a onclick="return false" href="http://www.elami-elatzmi.co.il/projects/%D7%A4%D7%A8%D7%95%D7%99%D7%A7%D7%98-%D7%90%D7%9C-%D7%A2%D7%A6%D7%9E%D7%99/"><i class="fa fa-angle-right"></i>פרוייקט אל עצמי</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary b-top-nav__with-multi-lvl">
                                    <a onclick="return false" href="http://www.elami-elatzmi.co.il/projects/%D7%93%D7%A4%D7%99-%D7%9C%D7%99%D7%9E%D7%95%D7%93/"><i class="fa fa-angle-right"></i>פרוייקט דפי לימוד</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary b-top-nav__with-multi-lvl">
                                    <a onclick="return false" href="http://www.elami-elatzmi.co.il/projects/%D7%94%D7%9E%D7%A8%D7%9B%D7%96-%D7%9C%D7%97%D7%99%D7%A0%D7%95%D7%9A-%D7%99%D7%94%D7%95%D7%93%D7%99/"><i class="fa fa-angle-right"></i>המרכז לחינוך יהודי</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary b-top-nav__with-multi-lvl">
                                    <a onclick="return false" href="http://www.elami-elatzmi.co.il/projects/%D7%A9%D7%99%D7%A2%D7%95%D7%A8%D7%99%D7%9D-%D7%95%D7%99%D7%9E%D7%99-%D7%A2%D7%99%D7%95%D7%9F/"><i class="fa fa-angle-right"></i>שיעורים וימי עיון</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary b-top-nav__with-multi-lvl">
                                    <a onclick="return false" href="http://www.elami-elatzmi.co.il/projects/%D7%A4%D7%A8%D7%95%D7%99%D7%99%D7%A7%D7%98-%D7%94%D7%A2%D7%A6%D7%9E%D7%94-%D7%9C%D7%A0%D7%95%D7%A2%D7%A8/"><i class="fa fa-angle-right"></i>פרוייקט העצמה לנוער</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="b-top-nav__1level f-top-nav__1level f-primary-b">
                        <a href="http://www.elami-elatzmi.co.il/%D7%AA%D7%A8%D7%95%D7%9E%D7%95%D7%AA/"><i class="fa fa-code b-menu-1level-ico"></i>תרומות <span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>
                    </li>
                    <li class="b-top-nav__1level f-top-nav__1level f-primary-b b-top-nav-big">
                        <a href="http://www.elami-elatzmi.co.il/%D7%A6%D7%95%D7%A8-%D7%A7%D7%A9%D7%A8/"><i class="fa fa-cloud-download b-menu-1level-ico"></i>צור קשר<span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>
                    </li>
                </ul>

            </nav>
        </div>
    </div>
    <div class="j-menu-container"></div>

    <div class="l-main-container">
        @RenderBody()
    </div>

    <footer>
        <div class="b-footer-primary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 f-copyright b-copyright f-center">כל הזכויות שמורות © 2016 - אל עמי</div>
                    <!--<div class="col-sm-8 col-xs-12">
                        <div class="b-btn f-btn b-btn-default b-right b-footer__btn_up f-footer__btn_up j-footer__btn_up">
                            <i class="fa fa-chevron-up"></i>
                        </div>
                        <nav class="b-bottom-nav f-bottom-nav b-right hidden-xs">
                            <ul>
                                <li><a href="../../html/homepage-1-index.html">Homepage</a></li>
                                <li class="is-active-bottom-nav"><a href="../../html/page_header_1.html">Headers</a></li>
                                <li><a href="../../html/portfolio_our_portfolio_1_colums.html">Portfolio</a></li>
                                <li><a href="../../html/our_blog_1_columns.html">Blog</a></li>
                                <li><a href="../../html/page_search_result.html">Pages</a></li>
                                <li><a href="../../html/shortcode_typography.html">Shortcode</a></li>
                                <li><a href="../../html/shop_listing_col.html">Shop</a></li>
                            </ul>
                        </nav>
                    </div>-->
                </div>
            </div>
        </div>
    </footer>
    @Html.Partial("Foot")
</body>
</html>

