﻿@*<link href="https://gateway20.pelecard.biz/Content/Css/variant-he-1.css" rel="stylesheet" type="text/css" />*@
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<link type="text/css" rel='stylesheet' href="~/js/bxslider/jquery.bxslider.css">
<link type="text/css" rel='stylesheet' href="~/js/flexslider/flexslider.css">
<link type="text/css" rel='stylesheet' href="~/js/radial-progress/style.css">
<link type="text/css" rel='stylesheet' href="~/css/animate.css">
<link type="text/css" rel='stylesheet' href="~/css/bootstrap.min.css">
<link type="text/css" rel='stylesheet' href="~/js/bootstrap-progressbar/bootstrap-progressbar-3.2.0.min.css">
<link type="text/css" rel='stylesheet' href="~/js/jqueryui/jquery-ui.css">
<link type="text/css" rel='stylesheet' href="~/js/jqueryui/jquery-ui.structure.css">
<link type="text/css" rel='stylesheet' href="~/js/fancybox/jquery.fancybox.css">
<link type="text/css" rel='stylesheet' href="~/fonts/fonts.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link type="text/css" data-themecolor="default" rel='stylesheet' href="~/css/main-cyan.css">
<link rel="stylesheet" type="text/css" href="~/css/component.css" />
<link href="~/css/normalize.css" rel="stylesheet" />
<link href="~/css/set1.css" rel="stylesheet" />
<link type="text/css" rel='stylesheet' href="~/js/rs-plugin/css/settings.css">
<link type="text/css" rel='stylesheet' href="~/js/rs-plugin/css/settings-custom.css">
<link type="text/css" rel='stylesheet' href="~/js/rs-plugin/videojs/video-js.css">
<link href="~/css/custom.css" rel="stylesheet" />

